body {
  background-color: rgba(43, 72, 158, 0.946) !important;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(43, 72, 158, 0.99);
  border-radius: 4px;
}

.makeStyles-audio__container-45 {
    width: 55vw !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.515);
  border-radius: 4px;
  height: 2px;
}

.MuiCircularProgress-colorPrimary {
    color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.emoji-mart-preview {
  display: none;
}
