body {
  background-color: rgba(43, 72, 158, 0.946) !important;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(43, 72, 158, 0.99);
  border-radius: 4px;
}

.makeStyles-audio__container-45 {
  width: 55vw !important;
}

.styles_button__3Vugn {
  width: 30px !important;
  height: 35px !important;
}

.styles_container__2pRR5 {
  padding-top: 10px !important;
  margin-right: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.515);
  border-radius: 4px;
  height: 2px;
}

.MuiCircularProgress-colorPrimary {
  color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.emoji-mart-preview {
  display: none;
}
